.header {
  position: absolute;
  top: 36px;
  width: 100%;

  z-index: 1000;
}

.header__left {
  display: flex;
  justify-content: center;
}

.burger {
  position: absolute;
  left: 34px;
  top: 8px;
}

.logo {
  font-style: normal;
  font-weight: bold;

  font-size: 24px;

  color: #ffffff;
}

.header__right {
  display: none;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav__link {
  padding: 24px;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;

  color: #ffffff;
}

.active {
  font-weight: bold;
}

.main__header {
  position: relative;
}

.header__img {
  height: 275px;
  width: 100%;
}

.header__img--effect {
  content: "";
  position: absolute;

  top: 0;
  left: 0;

  height: 275px;
  width: 100%;

  background: rgba(198, 108, 73, 0.4);
}

.header__content {
  position: absolute;
  bottom: 55px;
  left: 78px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__content > a {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;

  text-decoration-line: underline;

  color: #ffffff;
}

.header__content > p {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;

  padding-bottom: 40px;

  color: #ffffff;
}

.header__content > h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;

  padding-bottom: 13px;

  color: #ffffff;
}

@media screen and (min-width: 376px) {
  .burger {
    display: none;
  }

  .header {
    right: 0;
    display: flex;
    padding-top: 10vh;
  }

  .header__left {
    display: flex;
    width: 40%;
  }

  .logo {
    position: absolute;
    left: 15%;

    font-size: 24px;
    line-height: 29px;
  }

  .header__right {
    width: 60%;

    display: flex;
    justify-content: center;
  }

  .header__img {
    height: 80vh;
    width: 100%;

    object-fit: cover;
  }

  .header__img--effect {
    height: 80vh;
    width: 100%;
  }

  .header__content {
    display: block;
    bottom: 20vh;
    left: 15%;
  }

  .header__content > a {
    font-size: 18px;
    line-height: 22px;
  }

  .header__content > p {
    font-size: 24px;
    line-height: 29px;

    padding-bottom: 13vh;
  }

  .header__content > h1 {
    font-size: 64px;
    line-height: 78px;

    padding-bottom: 3vh;
  }
}
