.about__section {
  padding: 23px 30px 15px 35px;
}

.section__head {
  text-align: center;
  font-style: normal;

  font-weight: 600;

  font-size: 24px;
  line-height: 29px;

  padding-bottom: 19px;

  color: #333333;
}

.section__head3 {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;

  color: #333333;

  padding-bottom: 15px;
}

.about__content > p {
  font-style: normal;
  font-weight: normal;

  text-align: justify;
  font-size: 12px;
  line-height: 15px;

  padding-bottom: 1em;

  color: #333333;
}

.skills__section {
  padding: 25px 33px 5px 33px;
  background: #fffaf2;
}

.skills__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills__photo {
  margin-top: 5px;
  width: 224px;
  height: 218px;
  margin-bottom: 25px;
}

.td__head {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 25px;

  padding-bottom: 10px;

  color: #333333;
}

.td__item {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 25px;

  padding-bottom: 15px;

  color: #333333;
}

.skills__table {
  width: 100%;
}
.skills__tableHead {
  padding-bottom: 25px;
}

.table__progress {
  height: 18px;

  position: relative;
}
.fillbox {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  content: "";
  height: 18px;
  background: #f5d6ab;
}
.fill {
  left: 0;
  top: 0;
  height: 18px;
  position: absolute;
  content: "";
  background: #c66c49;
}

#ux {
  width: 90%;
}
#ui {
  width: 80%;
}
#front {
  width: 65%;
}

.portfolio__section {
  padding: 25px 35px 25px 35px;
}

.portfolio__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left__box > p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  padding-bottom: 15px;

  text-align: justify;

  color: #333333;
}

.right__box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.column-one {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}
.column-two {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.column-one > img {
  padding: 5px;
  width: 100%;
}
.column-two > img {
  padding: 5px;
  width: 100%;
}

.pagination {
  display: none;
  width: 15%;
  justify-content: space-between;
}

.footer {
  position: relative;
  padding: 25px 35px 25px 35px;
  background: #fffaf2;
}

.social {
  display: grid;
  grid-template-columns: 50% 50%;
}

.social__item {
  padding: 5px;
}

.footer > img {
  position: absolute;
  right: 32px;
  bottom: 35px;
}

.social__link {
  font-style: normal;
  font-weight: normal;

  padding-bottom: 20px;
  font-size: 14px;
  line-height: 17px;
}
.social__contacts {
  font-style: normal;
  font-weight: normal;
  padding-bottom: 5px;
  font-size: 14px;
  line-height: 17px;
}
.social__contacts > a {
  color: #333333;
}
.social__link > a {
  color: #333333;
}

@media screen and (min-width: 376px) {
  .about__section {
    padding: 93px 166px 115px 166px;
  }

  .section__head {
    font-weight: bold;
    text-align: start;
    font-size: 24px;
    line-height: 29px;

    padding-bottom: 3em;
  }

  .section__head3 {
    text-align: start;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;

    padding-top: 5px;
    padding-bottom: 45px;
  }

  .about__content > p {
    padding-bottom: 30px;
    font-size: 18px;
    line-height: 30px;
  }
  .skills__section {
    padding: 93px 166px 120px 166px;
  }

  .skills__block {
    flex-direction: row;
    justify-content: space-between;
  }

  .skills__photo {
    height: 340px;
    width: 350px;
  }

  .td__head {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
  }

  .td__item {
    font-size: 18px;
    line-height: 25px;

    padding: 15px;
  }
  .td__headItem {
    font-size: 18px;
    line-height: 25px;
  }
  .skills__table {
    width: 57%;
  }
  .skills__tableHead {
    padding-bottom: 50px;
  }

  .portfolio__section {
    padding: 93px 166px 110px 166px;
  }

  .portfolio__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .left__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
  }

  .left__box > p {
    width: 350px;
    padding-top: 15px;
    font-size: 18px;
    line-height: 30px;
  }

  .right__box {
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .column-one {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    padding: 10px;
  }
  .column-two {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
  }

  .column-one > img {
    margin: 8px;
    width: 100%;
  }
  .column-two > img {
    margin: 8px;
    width: 100%;
  }

  .pagination {
    display: flex;
    width: 15%;
    justify-content: space-between;
  }
  .footer {
    position: relative;
    padding: 90px 166px 110px 166px;
  }
  .footer > img {
    position: absolute;
    bottom: 70px;
    right: 180px;
  }
  .social {
    display: flex;
    justify-content: space-between;
    margin-top: -30px;
    width: 85%;
  }

  .social__link {
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 22px;
  }
  .social__contacts {
    font-size: 18px;
    line-height: 22px;
  }
}
